# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Environment variable files
.env
.env.*

# IDE/editor config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
